<p> You wake up. You get out of your bed. </p>
<p> It's completely dark, but there's a lamp. </p>
<p> The lamp's on, but slowly dying. You here something outside the closed door. </p>
<p> You look around the room. </p>
<p> <a href="/six_b"> There's a note on the table. </a></p>