<p> You wake up. You get out of your bed. </p>
<p> It's completely dark, but there's a lamp. </p>
<p> The lamp's on, but slowly dying. You here something outside the closed door. </p>
<p> <a href="/five_b"> You look around the room. </a></p>