<p> You wake up. You get out of your bed. </p>
<p> It's completely dark, but there's a lamp. </p>
<p> The lamp's on, but slowly dying. You here something outside the closed door. </p>
<p> You open the door. </p>
<p> Stab. </p>
<p> You fall on your shoulder. </p>
<p> Blood gushing everywhere. </p>
<p><a href="/eight_a"> Dead. </a></p>