<!-- <p> You wake up. You get out of your bed. </p> --> <p> &nbsp;</p>
<p> It's completely dark, but there's a lamp. </p>
<p> The lamp's on, but slowly dying. You here something outside the closed door. </p>
<p> You look around the room. </p>
<p> There's a note on the table. </p>
<p> . </p>
<p> . </p>
<p> . </p> 
<p> . </p>

<!-- begin "note" -->
<p id="test"> <i> "DON'T OPEN THAT DOOR" </i> </p>
<!-- end "note" -->

<p> &nbsp;</p>


<!-- for seven_b, this next line changes subtly. -->
<p><a href="/seven_b"> Something shivers down your back. </a> </p>